/**** Rounded Corners on Browse Category ****/
.browse-category {
border-radius: 10px;
}

/**** Hover effects on Browse Category Buttons ****/
.browse-category div:hover {
text-decoration: none;
}

.jcarousel li {
border: none;
}

.jcarousel li:hover {
border: 2px solid #a9c25d;
}

/************************************************************************************************ Aspen Banner  GIF **************************************************************************************************************/

div#page-header {
width: 100%;
}

div#header-wrapper.row  {
background-image: url("https://github.com/mckinneylibrary/images/blob/master/Aspen/AspenBanner2023.gif?raw=true");
background-size: cover;
height: 250px;
background-repeat: no-repeat;
padding: 0;
margin-left: -15px; 
}

#header-logo {
width: 400px;
margin-top: 55px; 
margin-left: 25px;
}

/* Mobile Size Adjustments for Banner*/

@media only screen and (max-width: 768px){
div#header-wrapper.row  {
margin-left: -200px;
}
#header-logo {
    width: 300px;
    margin-top: 65px;
    margin-left: 200px;
}
}

@media only screen and (max-width: 480px){
div#header-wrapper.row  {
background-image: url("https://github.com/mckinneylibrary/images/blob/master/Aspen/AspenMobileBanner.gif?raw=true");
background-size: cover;
margin-left: -15px;
}
#header-logo {
width: 275px;
margin: auto;
margin-top: 20px;
}
#language-selection-header {
margin-top: 110px;
}
.input-group { 
margin-left: 10px;
}
.input-group .form-control {
width: 100%;
}
}

/*************************************************************************************End Aspen Banner  GIF **********************************************************************************************************************/

/**** Side scrolling arrows - Getting rid of background and making arrows blue ****/
#browse-category-picker .jcarousel-control-prev, #browse-category-picker .jcarousel-control-next {
    background-color: transparent;
    color: #084d69;
    font-size: 50px;
    border: none;
box-shadow: none;
}


.jcarousel-pagination a.active {
    background: #084d69;
    color: #fff;
    opacity: 1;
    box-shadow: 0 0 2px #084d69;
}

/**** Scroll down arrow ****/
#more-browse-results {
    background-color: transparent;
    color: #084d69;
    text-align: center;
    padding: 2px;
    cursor: pointer;
    border-radius: 4px;
    line-height: 0;
}


/***** Event Feed display for placards *****/
.feed-item-desc {
  width: 300px;
  height: 100px;
  border: 1px solid blue;
  box-sizing: border-box;
}

/***** Hide self-reg username *****/
#selfRegAccountInfo #selfRegUsername {
  display: none !important;
}

#selfRegAccountInfo #selfRegPassword{
  display: none !important;
}


/**** Spotlights Collections header color on Custom Pages ****/ 
.titleScrollerHeader {
background-color: #084d69;
}

/**** Media Query to separate carousel arrows from Browse Category buttons in Mobile, Add Padding to search fields ****/
@media only screen and (max-width: 600px) {
     .jcarousel-control-next {
         right: 0px;
         width: 20px;
}
     .jcarousel-control-prev {
         left: 0px;
         width: 20px;
}

#horizontal-search-box .searchSourceHorizontal, #horizontal-search-box .searchTypeHorizontal {
    width: 95%;
    margin: auto;
    border: none;
    border-radius: 0;
}

#horizontal-search-box #lookfor {
    height: 34px;
    width: calc(98% - 35px);
    display: inline-block;
}

#horizontal-search-box div {
    padding-left: 1px;
    padding-right: 1px;
    width: 100%;
}
}

.system-message-text.img-responsive {
display: none; 
}

/**** Gets rid of Padding around system banner message ****/
#system-message-5, #system-messge-header.row {
padding: 0; 
margin: 0;
}

/**** Add a drop shadow behind the alert box ****/ 
.alert {
box-shadow:0 0.8px 0.2px rgb(0 0 0 / 3%), 0 1px 0.3px rgb(0 0 0 / 5%), 0 0.5px 10px rgb(0 0 0 / 6%), 0 2px 17.9px rgb(0 0 0 / 7%), 0 4.8px 3px rgb(0 0 0 / 9%), 0 10px 80px rgb(0 0 0 / 5%);
}



/***************************************************************************************Registration Page******************************************************************************************************************/

#selfRegSuccess {
background-color: white; 
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border: none;
color: black;
padding: 100px 0;
}

#selfRegBarcode, #selfRegAccountInfo {
background-color: #fff; 
color: #084d69;
text-align: center;
font-size: 1.1em;
border-color: #084d69;
box-shadow: none;
}

.regCard {
width: 350px;
display: block;
margin: auto; 
}

/***** Swapping Digital Card Images on Mobile Scale *****/
@media only screen and (min-width: 480px) {
.mobileCard {
display: none;
}

.regCard {
display: block;
}
}


@media only screen and (max-width: 480px) {
.regCard {
display: none;
}
.mobileCard {
display: block; 
}
#selfRegSuccess {
padding: 0; 
}
}

/*******************************************************************************************End Registration Page*******************************************************************************************************************/


/*******************************************************************************************Libcal Styles**************************************************************************************************************************/
.libcalFrame {
width: 1170px;
border: 0; 
margin-left: -30px; 
padding-top: 10px;
overflow: hidden;
}


#libcaliframe {
width: 100%; 
-ms-overflow-style: none; 
scrollbar-width: none; 
overflow-y: scroll; 
}

#libcaliframe::-webkit-scrollbar {
display: none;
}

/************1200p width ***************/
/*****Libcal Media Queries*****/

@media only screen and (max-width:1200px) {
.libcalFrame {
width:1170px;
overflow: hidden;
}
}

@media only screen and (max-width: 1201px) {
.libcalFrame {
width: 970px;
padding-top: 10px;
overflow: hidden;
}

#libcaliframe {
width: 996px; 
overflow: auto;
}

h1 {
display: none; 
}
}

/************992p width ***************/
@media only screen and (max-width: 992px) {
.libcalFrame {
width: 750px;
}

/************768p width ***************/
@media only screen and (max-width: 768px) {
.libcalFrame {
width: 768px;
}
}

/************745p width ***************/
@media only screen and (max-width: 745px) {
.libcalFrame {
width: 100vw;
}
}

/************745p width ***************/
@media only screen and (max-width: 480px) {
#libcaliframe {
     margin-top: -300px;
} 
}


/**********************************Start Event Button Styling ***************************/
#eventslittleones {
text-decoration: none;
background-color: #f8be50; 
color: #000; 
}

#eventsschoolage {
text-decoration: none;
background-color: #b8e5de; 
color: #000; 
}

#eventsallages {
text-decoration: none;
background-color: #ff8cff; 
color: #000; 
}

#eventsfamilyages {
text-decoration: none;
background-color: #A7A3F0;
color: #000;
} 

#eventsteens {
text-decoration: none;
background-color: #9ebe43;
color: #000;  
}

#eventsadults {
text-decoration: none;
background-color: #f67e3e;
color: #000;
}

#eventslittleones:hover, #eventslittleones a:hover, #eventsschoolage:hover, #eventsschoolage a:hover, #eventsallages:hover, #eventsallages a:hover, #eventsfamilyages:hover, #eventsfamilyages a:hover, #eventsteens:hover, #eventsteens a:hover, #eventsadults:hover, #eventsadults a:hover {
text-decoration: none; 
background-color: #084d69;
color: #ffffff;
}

.eventButtonContainer {
width: 100%;
margin: auto;
margin-top: 10px;
}

.eventButtonHeader {
width: 100%;
margin: auto;
margin-bottom: 20px;
text-align: center;
}

.eventButtonGroup {
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.eventPageButtons {
width: 100px;
display: block;
float: left;
margin-top: 20px; 
text-align: center;
margin: 5px; 
}

.form-horizontal {
width: 100%;
margin: auto; 
}

#returnCatalog {
text-decoration: none;
font-size: 1.25em;
}

#returnCatalog:hover {
background-color: #9b4321;
}

/**************End Event Buttons *******************/
 /**********************************************************************************************End Libcal Styles ******************************************************************************************************************/